body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  margin: 0;
  background-color: #faf5f5;
}
.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
h1 {
  margin: 0;
  font-size: 24px;
  color: #000000;
}
.attempt {
  margin: 10px 0;
  color: #000000;
  font-size: 18px;
}
#button {
  background-color: #d800aa;
  border: none;
  border-radius: 8px;
  color: #000000;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
}
#button:active {
  transform: scale(0.98);
}
#button:disabled {
  background-color: #cbc9c9;
  cursor: not-allowed;
}
.slot_machine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: #000000;
  padding: 5px;
  border-radius: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item {
  background-color: #c47db4;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.message {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  min-height: 27px;
}
.win {
  color: #008000;
}
.lose {
  color: #ff0000;
}
@media (max-width: 400px) {
  .slot-item {
    height: 60px;
    font-size: 30px;
  }
}
